body{
background-color: white;
color: black;
}

div#navbar {
   height: 100%;
   width: 160px;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: black;
   overflow-x: hidden;
   padding-top: 20px;
}

div#navbar a {
   padding: 6px 8px 6px 16px;
   text-decoration: none;
   font-size: 18px;
   color: white;
   display: block;
}

div#navbar a:hover{
 color: #f1f1f1;
 background-color: red;
}

.main {
  margin-left: 160px;
  padding: 0px 10px
}

label {
  display: block;
  margin: 5px 0;
}

.info {
  overflow-x: scroll;
  width: 100%;
  display: none;
}

td, th {
  padding: 5px 30px 5px 30px;
  border-bottom: 1px solid black;
}

th {
  background-color: lightgray;
  border-bottom: 2px solid black;
}

h1{
	color:navy;
  border-bottom: 5px dotted navy;

}

footer{
	width:600px;
	border-top: dotted 1px;
}

#about{
	width: 100%;
  font-size: 16px;
  font-weight: normal;
}

#about a {
  font-style: italic;
}

#flag {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

#about ul li{
    float: left;
    width: 50%;
    font-size: 16px;
}
#about ul{
    list-style-type: disc;
}

.row {
  height: 25%;
}

.column {
  float: left;
  text-align: center;
}

.left {
  width: 20%;
}

.middle {
  width: 20%;
}

.right {
  width: 20%;
}

.column img {
  margin-left: 5%;
  margin-right: 5%;
}

.column div {
  width: 300px;
  height: 300px;
}

#give_way img {
  margin-top: 20px;
}

#no_exit img {
  margin-top: 70px;
  margin-bottom: 40px;
}
